
body {
    font-family: Aleo;
}

/* Animation for Logo & Footer - changing color */
@keyframes gradientSweep {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated-logo {
    font-family: 'Aleo', serif;
    background: linear-gradient(90deg, #00acb9, #636363, #00acb9);
    background-size: 800%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientSweep 10s linear infinite;
}

footer {
    font-family: 'Aleo', serif;
    background: linear-gradient(90deg, #00acb9, #636363, #00acb9);
    background-size: 1000%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientSweep 12s linear infinite;
}

/* HERO SECTION - Add a blinking cursor */
#typewriter::after {
    content: '|';
    display: inline-block;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* ABOUT SECTION - Carousel Container */
.carousel-about {
    width: 100%;
    height: auto;
    position: relative;
}

    /* Carousel Images Wrapper */
.carousel-images {
    display: flex;
    width: 100%;
    transform: translateX(0%);
    transition: transform 2s ease;
}

    /* Individual Image */
.carousel-about img {
    flex: 1 0 100%;
    height: auto;
}

/* TRIPS SECTION - hover effect */
#Trips .bg-white h3 {
    transition: color 0.5s ease-in-out, transform 0.4s ease-in-out;
  }
  
  #Trips .bg-white:hover h3 {
    color: #02D8E9;
    transform: scale(1.5);
  }
  
/* Hover animation for gallery images */
#gallery img {
    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  #gallery img:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  